[submodule "submodules/njs"]
	path = submodules/njs
	url = https://github.com/nginx/njs.git
[submodule "submodules/nginx"]
	path = submodules/nginx
	url = https://github.com/nginx/nginx.git
[submodule "submodules/quickjs"]
	path = submodules/quickjs
	url = https://github.com/bellard/quickjs
[submodule "submodules/njs-examples"]
	path = submodules/njs-examples
	url = https://github.com/nginx/njs-examples.git
